<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Developer input</title>
</head>
<body>
    <h1>Developer enrollment</h1>
    <hr />
    <form method="get" action="/person/welcome">
        <input name="name" type="text" placeholder="Your name" />
        <br />
        <input name="age" type="text" placeholder="Your age" />
        <br />
        <input name="job" type="text" placeholder="Your job title" />
        <br />
        <input name="skills" type="text" placeholder="Skills" />
        <br />
        <input type="submit" value="Send data" />
    </form>
</body>
</html>